</div>  <!-- closing cell div from head -->
 <!-- just a space for the footer -->
<div style="height: 150px;"></div>
<div class="foot_legal" style="margin-left: auto; margin-right: 0; font-size: small">
<a href="https://mastodon.social/@de_rse" rel="me"><img src='{{ "/assets/img/mastodon-logo-purple_22px.png" | prepend: site.baseurl }}' alt='Mastodon profile' style="height: 22px;"></a> |
<a href="/legal/impressum">Impressum</a> | 
<a href="/legal/privacy">Datenschutzerklärung</a>
</div>
</div>  <!-- closing grid div -->
</div>  <!-- closing veryouterbox div -->

<script>
  $(document).foundation();
</script>
</body>
</html>
